In [11]:
import pandas as pd
import random

In [12]:
from voc_exam import *
WORDS_FILE = 'words/words_V1.0.0.xlsx'
serie_size = 10

In [18]:
df_quiz = get_series(get_dataframe(WORDS_FILE), int(serie_size))
df_quiz.loc[:, df_quiz.columns.values[:3]]

,question,answer,date
295,thoughtfully,pensivement/gentiment,2024-05-05
143,His stomach churned,son estomac s'est retourné,2024-05-05
125,bogey,Crotte de nez,2024-05-05
160,drowsy,endormi/somnolent/avoir envie de dormir\nsopor...,2024-05-05
338,soothing,"Apaisant, réconfortant",2024-05-05
156,blowflies,Blowfly=mouche à viande,2024-05-05
168,Dark deeds,acte/action,2024-05-05
94,She’s been shunted from departe to “”,Shunt [sth]=déplacer/pousser,2024-05-05
273,Shed [sth],(peau)muer/perdre,2024-05-05
39,Throng sth,envahir/se presser dans,2024-05-05

In [11]:
condition = (df_quiz['answered'] == False) & (df_quiz['asked'] == True)
df_quiz.loc[condition, 'fr_to_eng'].values[0]

False

In [27]:
df_series = pd.read_csv(SERIES_HISTO_FILE, sep=';')
today = datetime.datetime.now()
series_size = 10
score = 5

In [28]:
if pd.to_datetime(df_series.loc[df_series.shape[0] - 1, 'date']).date() == today.date():
    print('IN')
    df_series.loc[df_series.shape[0] - 1, 'serie_size'] = \
        df_series.loc[df_series.shape[0] - 1, 'serie_size'] + series_size
    df_series.loc[df_series.shape[0] - 1, 'serie_score'] = \
        df_series.loc[df_series.shape[0] - 1, 'serie_score'] + score
df_series

IN

    serie_size  serie_score        date
0           20           11   2024-03-7
1           30           15   2024-03-8
2           20            2   2024-03-9
3           10            8  2024-03-10
4           10            5  2024-03-11
5           30           24  2024-03-12
6           35           22  2024-03-14
7           40           21  2024-03-16
8           30           22  2024-03-18
9           30           24  2024-03-24
10          20           10  2024-04-21

In [8]:
data = pd.read_csv('words/series_history.csv', index_col=0)
data.reset_index(inplace=True)
data.to_csv('../../data_save/series_history.csv',sep=';', index=False)

In [8]:
# Sample data for demonstration
names = ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Hank", "Ivy", "Jack"]
ages = [random.randint(20, 40) for _ in range(10)]
heights = [random.uniform(150, 190) for _ in range(10)]
weights = [random.uniform(50, 90) for _ in range(10)]

# Creating a DataFrame
data = {
    "Name": names,
    "Age": ages,
    "Height": heights,
    "Weight": weights
}

df = pd.DataFrame(data)
df = df.sample(frac=1)

In [23]:
df.iloc[1, df.columns.get_loc('Name')] = 'Kevin'
df

      Name  Age      Height     Weight
1      Bob   35  152.545173  63.159668
8    Kevin   32  180.211435  51.566869
2  Charlie   34  183.814434  71.336761
7     Hank   35  172.886988  86.389132
9     Jack   21  177.761262  81.345438
3    David   32  188.530690  86.693651
6    Grace   24  158.011012  55.653102
5    Frank   38  189.128365  77.958222
4      Eva   20  174.573261  70.878694
0    Alice   37  170.327698  68.785009

In [7]:
import pandas as pd
#df_series_score = pd.read_csv('D:/DOCUMENT/travail/perso/data_volume/series_history.csv', sep='\;', encoding='utf-8')[-5:]
test = pd.read_csv('D:/DOCUMENT/travail/perso/data_volume/series_history.csv', sep=';')
test

   serie_size  serie_score        date
0          20           11   2024-03-7
1          30           15   2024-03-8
2          20            2   2024-03-9
3          10            8  2024-03-10
4          10            5  2024-03-11
5          30           24  2024-03-12
6          35           22  2024-03-14
7          40           21  2024-03-16
8          30           22  2024-03-18
9          30           24  2024-03-24

In [5]:
test = pd.read_excel('D:/DOCUMENT/travail/perso/data_volume/words_V1.0.0.xlsx')
test

,question,answer,date,steps_index,fr_to_eng,right_answer_count,asked_count,first_last_asked,second_last_asked,third_last_asked
0,Eerie noise,"(mysterious, creepy) étrange/inquiétant",2024-03-24,2,False,0,0,NaN,NaN,NaN
1,It’s a mast,"(on ship) mât/(flag)mât/(TV, radio)pylône/(Rad...",2024-03-24,7,False,0,0,NaN,NaN,NaN
2,A resurrected wreck,"(remains of ship)épave/naufrage/épave, ruine",2024-04-22,8,False,1,1,1.0,NaN,NaN
3,With a great sloshing,cinglant,2024-03-24,7,False,0,0,NaN,NaN,NaN
4,Looking very smug about this,"smug(adj)suffisant,imbu de soi-même",2024-03-24,5,False,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
377,wade,"patauger, traverser à gué",2024-03-24,3,False,0,0,NaN,NaN,NaN
378,wade through,"patauger dans\n(figurative, work through sth t...",2024-03-24,1,False,0,0,NaN,NaN,NaN
379,treacherous,traitre,2024-03-24,0,False,0,0,NaN,NaN,NaN
380,wine-sodden,-sodden (ivre de qqch) vin ici,2024-03-24,0,False,0,0,NaN,NaN,NaN
381,sodden,"trempé, (sol) détrempé",2024-03-24,4,False,0,0,NaN,NaN,NaN