In [2]:
import pandas as pd
import random

In [3]:
from voc_exam import *
WORDS_FILE = 'words/words_V1.0.0.xlsx'
serie_size = 10

In [31]:
df_words = get_dataframe(WORDS_FILE)
df_words_asked = df_words.loc[df_words['asked_count'] >= 3]
df_words_asked['ratio'] = df_words['right_answer_count']/df_words['asked_count']
df_words_asked['score'] = df_words['right_answer_count'].astype(str)+'/'+df_words['asked_count'].astype(str)
df_words_asked = df_words_asked.sort_values(by=['ratio', 'asked_count'], ascending=False).reset_index(drop=True)
df_words_asked[['question', 'asked_count', 'ratio', 'score']]
df_words_asked[['question', 'asked_count', 'ratio', 'score']].sort_values(by=['ratio', 'asked_count'], ascending=[True, False])

,question,asked_count,ratio,score
38,wobble,3,0.000000,0/3
37,Looking puzzled,4,0.250000,1/4
31,Something dodgy,3,0.333333,1/3
32,swig,3,0.333333,1/3
33,His stomach churned,3,0.333333,1/3
34,Waltzing to the dreadful,3,0.333333,1/3
35,Whit his insides churning,3,0.333333,1/3
36,faint adj,3,0.333333,1/3
30,nasty,4,0.500000,2/4
18,They tramped,3,0.666667,2/3
19,Mrs clamped a handkerchief to her mouth and to...,3,0.666667,2/3
20,The wooden doors to the cubicles were flaking,3,0.666667,2/3
21,Sense of foreboding,3,0.666667,2/3
22,shabby,3,0.666667,2/3
23,Circular table were crammed inside it (cram st...,3,0.666667,2/3
24,Everything was lit with a dim (dim adj),3,0.666667,2/3
25,Weaving in and out,3,0.666667,2/3
26,abate sth,3,0.666667,2/3
27,baleful,3,0.666667,2/3
28,"shaft, shaft of light, shaft of sunlight",3,0.666667,2/3
29,cluttered,3,0.666667,2/3
15,he patted the dashboard,4,0.750000,3/4
16,The room was dingy,4,0.750000,3/4
17,The feeling that had plagued him,4,0.750000,3/4
0,The lid of the packing case,4,1.000000,4/4
1,Had wrought quite a change in his physique,4,1.000000,4/4
2,steer,3,1.000000,3/3
3,His head drooping with the weight of a nose li...,3,1.000000,3/3
4,He was loathed by every student,3,1.000000,3/3
5,Pulled out the sheaf of parchment inside,3,1.000000,3/3
6,The firelight glowed over the countless squash...,3,1.000000,3/3
7,They are bound to,3,1.000000,3/3
8,Hermione ladled large dollops of the potion into,3,1.000000,3/3
9,woe,3,1.000000,3/3
10,A swooning fit (swoon),3,1.000000,3/3
11,ponds,3,1.000000,3/3
12,He had wheeled about,3,1.000000,3/3
13,It was quite galling to be told not to,3,1.000000,3/3
14,cottage,3,1.000000,3/3

In [29]:
import os
def update_data_from_production(path_prod, path_dev):
    csv_files = [file for file in os.listdir(path_prod) if file.__contains__('.csv')]
    excel_files = [file for file in os.listdir(path_prod) if file.__contains__('.xl')]
    for file in csv_files:
        df = pd.read_csv(path_prod+file, sep=';')
        df.to_csv(path_dev+file, index=False, sep=';')
    for file in excel_files:
        df = pd.read_excel(path_prod+file)
        df.to_excel(path_dev+file, index=False)
update_data_from_production('D:/DOCUMENT/travail/perso/data_volume/', './words/')

In [11]:
condition = (df_quiz['answered'] == False) & (df_quiz['asked'] == True)
df_quiz.loc[condition, 'fr_to_eng'].values[0]

False

In [27]:
df_series = pd.read_csv(SERIES_HISTO_FILE, sep=';')
today = datetime.datetime.now()
series_size = 10
score = 5

In [28]:
if pd.to_datetime(df_series.loc[df_series.shape[0] - 1, 'date']).date() == today.date():
    print('IN')
    df_series.loc[df_series.shape[0] - 1, 'serie_size'] = \
        df_series.loc[df_series.shape[0] - 1, 'serie_size'] + series_size
    df_series.loc[df_series.shape[0] - 1, 'serie_score'] = \
        df_series.loc[df_series.shape[0] - 1, 'serie_score'] + score
df_series

IN

    serie_size  serie_score        date
0           20           11   2024-03-7
1           30           15   2024-03-8
2           20            2   2024-03-9
3           10            8  2024-03-10
4           10            5  2024-03-11
5           30           24  2024-03-12
6           35           22  2024-03-14
7           40           21  2024-03-16
8           30           22  2024-03-18
9           30           24  2024-03-24
10          20           10  2024-04-21

In [8]:
data = pd.read_csv('words/series_history.csv', index_col=0)
data.reset_index(inplace=True)
data.to_csv('../../data_save/series_history.csv',sep=';', index=False)

In [8]:
# Sample data for demonstration
names = ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Hank", "Ivy", "Jack"]
ages = [random.randint(20, 40) for _ in range(10)]
heights = [random.uniform(150, 190) for _ in range(10)]
weights = [random.uniform(50, 90) for _ in range(10)]

# Creating a DataFrame
data = {
    "Name": names,
    "Age": ages,
    "Height": heights,
    "Weight": weights
}

df = pd.DataFrame(data)
df = df.sample(frac=1)

In [23]:
df.iloc[1, df.columns.get_loc('Name')] = 'Kevin'
df

      Name  Age      Height     Weight
1      Bob   35  152.545173  63.159668
8    Kevin   32  180.211435  51.566869
2  Charlie   34  183.814434  71.336761
7     Hank   35  172.886988  86.389132
9     Jack   21  177.761262  81.345438
3    David   32  188.530690  86.693651
6    Grace   24  158.011012  55.653102
5    Frank   38  189.128365  77.958222
4      Eva   20  174.573261  70.878694
0    Alice   37  170.327698  68.785009

In [7]:
import pandas as pd
#df_series_score = pd.read_csv('D:/DOCUMENT/travail/perso/data_volume/series_history.csv', sep='\;', encoding='utf-8')[-5:]
test = pd.read_csv('D:/DOCUMENT/travail/perso/data_volume/series_history.csv', sep=';')
test

   serie_size  serie_score        date
0          20           11   2024-03-7
1          30           15   2024-03-8
2          20            2   2024-03-9
3          10            8  2024-03-10
4          10            5  2024-03-11
5          30           24  2024-03-12
6          35           22  2024-03-14
7          40           21  2024-03-16
8          30           22  2024-03-18
9          30           24  2024-03-24

In [5]:
test = pd.read_excel('D:/DOCUMENT/travail/perso/data_volume/words_V1.0.0.xlsx')
test

,question,answer,date,steps_index,fr_to_eng,right_answer_count,asked_count,first_last_asked,second_last_asked,third_last_asked
0,Eerie noise,"(mysterious, creepy) étrange/inquiétant",2024-03-24,2,False,0,0,NaN,NaN,NaN
1,It’s a mast,"(on ship) mât/(flag)mât/(TV, radio)pylône/(Rad...",2024-03-24,7,False,0,0,NaN,NaN,NaN
2,A resurrected wreck,"(remains of ship)épave/naufrage/épave, ruine",2024-04-22,8,False,1,1,1.0,NaN,NaN
3,With a great sloshing,cinglant,2024-03-24,7,False,0,0,NaN,NaN,NaN
4,Looking very smug about this,"smug(adj)suffisant,imbu de soi-même",2024-03-24,5,False,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
377,wade,"patauger, traverser à gué",2024-03-24,3,False,0,0,NaN,NaN,NaN
378,wade through,"patauger dans\n(figurative, work through sth t...",2024-03-24,1,False,0,0,NaN,NaN,NaN
379,treacherous,traitre,2024-03-24,0,False,0,0,NaN,NaN,NaN
380,wine-sodden,-sodden (ivre de qqch) vin ici,2024-03-24,0,False,0,0,NaN,NaN,NaN
381,sodden,"trempé, (sol) détrempé",2024-03-24,4,False,0,0,NaN,NaN,NaN