In [3]:
import pandas as pd
import random

In [8]:
# Sample data for demonstration
names = ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Hank", "Ivy", "Jack"]
ages = [random.randint(20, 40) for _ in range(10)]
heights = [random.uniform(150, 190) for _ in range(10)]
weights = [random.uniform(50, 90) for _ in range(10)]

# Creating a DataFrame
data = {
    "Name": names,
    "Age": ages,
    "Height": heights,
    "Weight": weights
}

df = pd.DataFrame(data)
df = df.sample(frac=1)

In [23]:
df.iloc[1, df.columns.get_loc('Name')] = 'Kevin'
df

      Name  Age      Height     Weight
1      Bob   35  152.545173  63.159668
8    Kevin   32  180.211435  51.566869
2  Charlie   34  183.814434  71.336761
7     Hank   35  172.886988  86.389132
9     Jack   21  177.761262  81.345438
3    David   32  188.530690  86.693651
6    Grace   24  158.011012  55.653102
5    Frank   38  189.128365  77.958222
4      Eva   20  174.573261  70.878694
0    Alice   37  170.327698  68.785009