In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
list_values = [1, 1, 2, 4, 15, 26, 28, 29, 29]
import random
import datetime
import numpy as np

In [2]:
# Data for plotting
t = np.arange(-10, 10+20/8, (20/8))
s = (30/np.pi)*(np.arctan(t) - np.arctan(-10)) + 1
[round(x) for x in s]

def find_nearest(row):
    list_min = []
    for value in list_values:
        list_min.append(np.abs(value - row['interval']))
    return list_min.index(min(list_min))

def update_coeff_data(path):
    df = pd.read_excel(path, index_col=None, header=None)    
    df.columns = ['question', 'answer', 'interval', 'date', 'steps_index']
    df['steps_index'] = df.apply(find_nearest, axis=1)
    df.drop(columns=['interval'], inplace=True)
    df.to_excel(path, index=False, header=False)
    
def add_fr_to_eng(path):
    df = pd.read_excel(path, index_col=None, header=None)    
    df.columns = ['question', 'answer', 'date', 'steps_index']
    df['fr_to_eng'] = False
    df.to_excel(path, index=False, header=False)

In [3]:
add_fr_to_eng('words/words_V1.0.0.xlsx')

In [16]:
df = pd.read_excel('words/words_lv.xlsx')
df.columns = ['question', 'answer', 'date', 'steps_index', 'fr_to_eng']
df

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "D:\logiciel\miniconda3\lib\site-packages\IPython\core\formatters.py", line 223, in catch_format_error
    r = method(self, *args, **kwargs)
  File "D:\logiciel\miniconda3\lib\site-packages\IPython\core\formatters.py", line 344, in __call__
    return method()
  File "D:\logiciel\miniconda3\lib\site-packages\pandas\core\frame.py", line 1136, in _repr_html_
  File "D:\logiciel\miniconda3\lib\site-packages\pandas\io\formats\format.py", line 1108, in to_html
    the leading space to pad between columns.
  File "D:\logiciel\miniconda3\lib\site-packages\pandas\io\formats\html.py", line 88, in to_string
    lines = self.render()
  File "D:\logiciel\miniconda3\lib\site-packages\pandas\io\formats\html.py", line 644, in render
    super().render()
  File "D:\logiciel\miniconda3\lib\site-packages\pandas\io\formats\html.py", line 94, in render
    self._write_table()
  File "D:\logiciel\miniconda3\lib\site-packages\pandas\io\formats\html.py", line 267, in _write_table
    self._write_header(indent + self.indent_delta)
  File "D:\logiciel\miniconda3\lib\site-packages\pandas\io\formats\html.py", line 403, in _write_header
    self._write_col_header(indent + self.indent_delta)
  File "D:\logiciel\miniconda3\lib\site-packages\pandas\io\formats\html.py", line 383, in _write_col_header
    row.extend(self._get_columns_formatted_values())
  File "D:\logiciel\miniconda3\lib\site-packages\pandas\io\formats\html.py", line 611, in _get_columns_formatted_values
    return self.columns._format_flat(include_name=False)
AttributeError: 'Index' object has no attribute '_format_flat'. Did you mean: '_format_data'?

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "D:\logiciel\miniconda3\lib\site-packages\IPython\core\interactiveshell.py", line 2144, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "D:\logiciel\miniconda3\lib\site-packages\IPython\core\ultratb.py", line 1435, in structured_traceback
    return FormattedTB.structured_traceback(
  File "D:\logiciel\miniconda3\lib\site-packages\IPython\core\ultratb.py", line 1326, in structured_traceback
    return VerboseTB.structured_traceback(
  File "D:\logiciel\miniconda3\lib\site-packages\IPython\core\ultratb.py", line 1173, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "D:\logiciel\miniconda3\lib\site-packages\IPython\core\ultratb.py", line 1088, in format_exception_as_a_whole
    frames.append(self.format_record(record))
  File "D:\logiciel\miniconda3\lib\site-packages\IPython\core\ultratb.py", line 970, in format_record
    frame_info.lines, Colors, self.has_colors, lvals
  File "D:\logiciel\miniconda3\lib\site-packages\IPython\core\ultratb.py", line 792, in lines
    return self._sd.lines
  File "D:\logiciel\miniconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "D:\logiciel\miniconda3\lib\site-packages\stack_data\core.py", line 698, in lines
    pieces = self.included_pieces
  File "D:\logiciel\miniconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "D:\logiciel\miniconda3\lib\site-packages\stack_data\core.py", line 649, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "D:\logiciel\miniconda3\lib\site-packages\stack_data\utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "D:\logiciel\miniconda3\lib\site-packages\stack_data\core.py", line 628, in executing_piece
    return only(
  File "D:\logiciel\miniconda3\lib\site-packages\executing\executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

                          question  \
0                      It’s a mast
1              A resurrected wreck
2            With a great sloshing
3     Looking very smug about this
4                          skrewts
5                       The casket
6            Their magical prowess
7                Said Moody grimly
8                           hinges
9     On the cistern of the toilet
10  Precy swelled in a manner that
11                    Ron shrugged
12               Chivvy them along

                                               answer       date  steps_index  \
0   (on ship) mât/(flag)mât/(TV, radio)pylône/(Rad... 2024-01-18            3
1        (remains of ship)épave/naufrage/épave, ruine 2024-02-03            4
2                                            cinglant 2024-01-25            4
3                 smug(adj)suffisant,imbu de soi-même 2024-01-30            4
4                            Scorpion avec deux queux 2024-01-18            3
5   (coffin)cercueil/(small jewellery box)coffret,... 2024-01-18            0
6   (great skill)Talent,habileté,capacité#(great v... 2024-01-26            3
7                     D’un air grave, d’un air sombre 2024-02-16            7
8                                      Gond/charnière 2024-01-18            0
9                                       citerne /cuve 2024-01-18            0
10                   Percy s’est gonflé d’une manière 2024-01-22            3
11                          shrug=hausser les épaules 2024-01-18            0
12       chivvy=(UK)presser/pousser (hurry or harass) 2024-01-18            0

    fr_to_eng
0        True
1        True
2        True
3       False
4       False
5       False
6        True
7        True
8        True
9        True
10      False
11      False
12      False

In [43]:
random_number = random.random()
print(random_number)
round(random_number)

0.8875600164701138

1

In [19]:
score = 12
serie_size = 30

df_series = pd.read_csv('words/series_history.csv', sep=';')
today = datetime.datetime.now()
print(today.date())
if df_series.shape[0] == 0:
    df_series.loc[0] = [serie_size, score, today.date()]
else:
    df_series.loc[df_series.shape[0]+1] = [serie_size, score, today.date()]
df_series.to_csv('words/series_history.csv', sep=';', index=False)

2024-02-25

In [13]:
def add_columns_stat(path):
    df = pd.read_excel(path, index_col=None)
    df['right_answer_count'] = 0
    df['asked_count'] = 0
    df['first_last_asked'] = np.nan
    df['second_last_asked'] = np.nan
    df['third_last_asked'] = np.nan
    df.to_excel(path, index=False)
add_columns_stat('words/words_lv.xlsx')

In [14]:
df = pd.read_excel('words/words_lv.xlsx', index_col=None)

#df.to_excel('words/words_lv.xlsx', index=False)
df

,question,answer,date,steps_index,fr_to_eng,right_answer_count,asked_count,first_last_asked,second_last_asked,third_last_asked
0,It’s a mast,"(on ship) mât/(flag)mât/(TV, radio)pylône/(Rad...",2024-01-18,3,True,0,0,NaN,NaN,NaN
1,A resurrected wreck,"(remains of ship)épave/naufrage/épave, ruine",2024-02-03,4,True,0,0,NaN,NaN,NaN
2,With a great sloshing,cinglant,2024-01-25,4,True,0,0,NaN,NaN,NaN
3,Looking very smug about this,"smug(adj)suffisant,imbu de soi-même",2024-01-30,4,False,0,0,NaN,NaN,NaN
4,skrewts,Scorpion avec deux queux,2024-01-18,3,False,0,0,NaN,NaN,NaN
5,The casket,"(coffin)cercueil/(small jewellery box)coffret,...",2024-01-18,0,False,0,0,NaN,NaN,NaN
6,Their magical prowess,"(great skill)Talent,habileté,capacité#(great v...",2024-01-26,3,True,0,0,NaN,NaN,NaN
7,Said Moody grimly,"D’un air grave, d’un air sombre",2024-02-16,7,True,0,0,NaN,NaN,NaN
8,hinges,Gond/charnière,2024-01-18,0,True,0,0,NaN,NaN,NaN
9,On the cistern of the toilet,citerne /cuve,2024-01-18,0,True,0,0,NaN,NaN,NaN
10,Precy swelled in a manner that,Percy s’est gonflé d’une manière,2024-01-22,3,False,0,0,NaN,NaN,NaN
11,Ron shrugged,shrug=hausser les épaules,2024-01-18,0,False,0,0,NaN,NaN,NaN
12,Chivvy them along,chivvy=(UK)presser/pousser (hurry or harass),2024-01-18,0,False,0,0,NaN,NaN,NaN